{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">

            <div class="card-body p-2">
              <div class="alert alert-success text-center" role="alert">
                    Un email vous a été envoyé pour vous connecter. Si vous ne le recevez pas, vous pouvez réessayer.
              </div>
              <div class="text-center">
                <a href="{% url 'login' %}" class="btn btn-primary">Réessayer</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
