version: '3'
services:
  postgres:
    image: postgres
    environment:
     - POSTGRES_USER=ecc
     - POSTGRES_PASSWORD=ecc
     - POSTGRES_DB=ecc
  django:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./ecc:/code
    ports:
      - "8000:8000"
    links:
      - postgres
    environment:
      - DEBUG=True
      - PORT=8000
      - SECRET_KEY="85r+)p4uxjlhhnsv+o(xb6#0s5=j=k20=p=iqm#9@tw=@21c3!"
      - DATABASE_URL=postgres://ecc:ecc@postgres:5432/ecc
    image: ecc-django
