Django==2.2.11
ipdb==0.13.2
pytest-django==3.8.0
pytest-cov==2.8.1
django-debug-toolbar==1.11
psycopg2-binary==2.8.4
Jinja2==2.11.1
uwsgi==2.0.18
django-model-utils==4.0.0
django-ordered-model==3.3.0
django-environ==0.4.5
pytest==4.6.9
pytest-cov==2.8.1
pytest-django==3.8.0
pytest-factoryboy==2.0.3
python-dotenv==0.12.0
django-annoying==0.10.6
django-sendfile==0.3.11
whitenoise==5.0.1
django-extensions==2.2.8
django-settings-export==1.2.1
djangorestframework==3.9.4
markdown==3.1.1
django-filter==2.1.0
django-celery-beat==2.0.0
Celery==4.4.1
redis==3.4.1
coreapi==2.3.3
django-cleanup==4.0.0
django-ckeditor==5.9.0
docxtpl==0.6.3
ldap3==2.7
django-session-timeout==0.1.0
django-activity-stream==0.8.0
django-magicauth==0.2
django-admin==2.0.1
django-http-referrer-policy==1.0.1
django-feature-policy==3.0.0
django-csp==3.6
django-email-obfuscator==0.1.5
https://github.com/collabo-br/django-soft-delete/archive/0.2.0.tar.gz
coverage==5.0.4
