Django==2.1.7
ipdb==0.11
pytest-django==3.4.7
pytest-cov==2.6.1
django-debug-toolbar==1.11
psycopg2-binary==2.7.7
Jinja2==2.10
uwsgi==2.0.18
django-model-utils==3.1.2
django-filer==1.4.4
django-ordered-model==3.1.1
django-environ==0.4.5
django-tabler==0.0.32
pytest==4.3.0
pytest-cov==2.6.1
pytest-django==3.4.7
pytest-factoryboy==2.0.2
python-dotenv==0.10.1
django-annoying==0.10.4
django-sendfile==0.3.11
whitenoise==4.1.2
django-extensions==2.1.5
django-settings-export==1.2.1
djangorestframework==3.9.1
markdown==3.0.1
django-filter==2.0.0
django-celery-beat==1.4.0
redis==3.2.0
coreapi==2.3.3
django-cleanup==3.2.0
git+https://github.com/justquick/django-activity-stream.git
