.stamp-xl {
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

/* IE specific fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card--ie-773px {
     width: 773px;
  }
}

.zebra  {
    background: #f8f9fa;
}


/* questionnaires Vue components */
.form-control-h3 {
    font-size: 1.125rem;
    font-weight: 400;
}

.form-label-h3 {
    margin-bottom: 0px;
}
