{% extends "base.html" %}
{% load static %}
{% load control_tags %}

{% block page_main_container %}
  <div id="control-detail-vm">
    <control-page :controls="{{ controls_json }}"
                       :user="{{ user_json }}"
                       webdavurl="{{ settings.WEBDAV_URL }}"
                       static-files-url="//{{ current_site.domain }}{% static '' %}"
    >
    </control-page>
  </div>
{% endblock page_main_container %}

{% block js_bundle %}
<link href="{% static 'dist/control-detail-bundle.css' %}" rel="stylesheet" />
<script src="{% static 'dist/control-detail-bundle.js' %}"></script>
{% endblock js_bundle %}
