{% extends "base.html" %}
{% load static %}

{% block extra_static_header %}
{{ block.super }}
{% endblock extra_static_header %}

{% block page_content %}

  <h3>Megacontrole créé</h3>

  <p>
    Vous avez créé les questionnaires suivants :
    <ul>
      {% for created_questionnaire in created_questionnaires %}
        <li><a href="/admin/control/questionnaire/{{ created_questionnaire.id }}/change/"><b>{{ created_questionnaire.id }} : {{ created_questionnaire }}</b></a> dans l'espace <b>{{ created_questionnaire.control }}</b></li>
      {% endfor %}
    </ul>
  </p>

  <a href="/admin/control/questionnaire/" class="btn btn-primary" title="Retour à l'admin">
      Retour à l'admin
  </a>
{% endblock page_content %}

