{% extends "base.html" %}
{% load static %}

{% block page_title %}
Convertir votre questionnaire word en « e-contrôle »
{% endblock page_title %}

{% block page_content %}

<div class="card active">
    <div class="card-body">
        <div class="card-title">
            Comment ca marche?
        </div>

        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
            <div style="width:40%; display: flex; flex-direction: column; align-items: center">
                <h4>Questionnaire Word</h4>
                <img src="{% static 'img/questionnaire_word.png' %}" alt="instructions" />
            </div>
            <div style="width:10%">
                <h4>Convertisseur</h4>
                <img src="{% static 'img/arrow-128.png' %}" alt="instructions" />
            </div>
            <div style="width:48%; display: flex; flex-direction: column; align-items: center">
                <h4>Questionnaire e-controle</h4>
                <img src="{% static 'img/questionnaire_econtrole.png' %}" alt="instructions" />
            </div>
        </div>


        <div class="card-title">
            Le Convertisseur d'e-contrôle est simple. Il ne connaît que deux types d'objets : les <b>thèmes</b> et les <b>questions</b>. Il les différencie selon la taille de leur texte.
        </div>
        <div class="card-title">
            Il veut donc voir dans votre document Word :
            <ul>
                <li> des thèmes en <b>taille 14</b> </li>
                <li> des questions en<b> taille 12</b></li>
            </ul>
        </div>

        <div class="panel" style="margin: 30px; display:flex; flex-direction: row; justify-content: center">
                <button type="submit"
                        class="fe btn btn-primary btn-blue"
                        style="font-size: large;"
                        onclick="showNext()"
                >
                    J'ai compris
                </button>
        </div>
    </div>
</div>

<div class="card" style="display: none">
    <div class="card-body">
        <div class="card-title">
            Mettre en forme votre questionnaire Word
        </div>
        <div>
            Adaptez votre document Word : vos themes doivent etre en taille 14 et vos questions en taille 12.
        </div>
        <div>
            Inspirez-vous du <a htarget="_blank" href="/static/img/modèle.docx">modèle à télécharger</a>.
        </div>

        <div class="panel" style="margin: 30px;">
            <a href="mailto:e-controle@beta.gouv.fr">
                <button
                        type="submit"
                        class="fe fe-upload btn btn-primary btn-blue"
                        title="Envoyer mon questionnaire"
                        style="font-size: large;"
                >
                    Mon questionnaire Word est prêt, je l’envoie
                </button>
            </a>
        </div>
    </div>
</div>

<script>
function showNext() {
    function findActive() {
        var actives = document.getElementsByClassName("active");
        return actives[0]
    }

    function hide(element) {
        element.style.display = "none";
        element.classList.remove("active");
    }

    function show(elemnt) {
        nextSection.style.display = "flex";
        nextSection.classList.add("active");
    }

    function findNext(element) {
        return element.nextElementSibling;
    }

    var active = findActive();
    hide(active);
    var nextSection = findNext(active);
    show(nextSection);
}
</script>



{% endblock page_content %}
