{% extends "base.html" %}
{% load static %}

{% block page_title %}
Comment créer un questionnaire?
{% endblock page_title %}

{% block page_content %}

<div class="card-title">
    E-contrôle peut créer un questionnaire pour votre contrôle à partir de quelques renseignements et d'un document Word (fichier ".docx").
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Chapeau
        </div>
        <div>
            Renseigner le chapeau (paragraphe introductif, période sous contrôle, coordonnées de l’équipe de contrôle, ...)
        </div>
        <div class="panel" style="margin: 30px;">
                <button type="submit"
                        class="fe btn btn-primary btn-blue disabled"
                        title="Renseigner"
                        style="font-size: large;"
                >
                    Chapeau
                </button>
            (fonctionnalité à venir)
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Formattage
        </div>
        <div>
            Formatter votre questionnaire word au format e-controle.
        </div>
        <div>
            Ce format est défini dans
            <a htarget="_blank" href="/static/img/modèle.docx">
                le modèle word à télécharger
            </a>
            et également dans l'exemple au bas de cette page.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Import
        </div>
        <div>
            Importer le questionnaire dans e-controle, sans annexes dans un premier temps.
        </div>
        <div>
            Vous pourrez prévisualiser le résultat. Si le résultat n’est pas satisfaisant, corriger le questionnaire et l’importer à nouveau.
        </div>
        <div class="panel" style="margin: 30px;">
            <a href="mailto:e-controle@beta.gouv.fr">
                <button type="submit"
                        class="fe fe-upload btn btn-primary btn-blue"
                        title="Envoyer mon questionnaire"
                        style="font-size: large;"
                >
                    Importer mon questionnaire
                </button>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Annexes (fonctionnalité à venir)
        </div>
        <div>
            Rajoutez les annexes si necessaire.
        </div>
        <div class="panel" style="margin: 30px;">
                <button type="submit"
                        class="fe btn btn-primary btn-blue disabled"
                        title="Annexes"
                        style="font-size: large;"
                >
                    Annexes
                </button>
            (fonctionnalité à venir)
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Terminer
        </div>
        <div>
            Lorsque vous êtes satisfait.e du questionnaire, confirmez sa création.
        </div>
        <div class="panel" style="margin: 30px;">
                <button type="submit"
                        class="fe btn btn-primary btn-blue"
                        title="Confirmer"
                        style="font-size: large;"
                >
                    Confirmer
                </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Optionnel : Télécharger (fonctionnalité à venir)
        </div>
        <div>
            Vous pouvez si vous le désirez récupérer une version word du questionnaire créé par e-controle.
        </div>
        <div class="panel" style="margin: 30px;">
            <a htarget="_blank" href="/static/img/modèle.docx">
                <button type="submit"
                        class="fe fe-download btn btn-primary btn-blue"
                        title="Télécharger l'exemple"
                        style="font-size: large;"
                >
                    Télécharger
                </button>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Annexe : Exemple de format pour le questionnaire
        </div>
        <div>
            <img src="{% static 'img/parser_instructions.png' %}" alt="instructions" />
        </div>
    </div>
</div>


{% endblock page_content %}
