{% extends "base.html" %}
{% load static %}

{% block extra_static_header %}
{{ block.super }}
{% endblock extra_static_header %}

{% block page_content %}

<div id="questionnaire-create-vm">
    {% if control is not None %}
      <questionnaire-create
        :control-id="{{ control.id}}"
        :questionnaire-numbering="{{ control.next_questionnaire_numbering }}"
      >
      </questionnaire-create>
    {% elif questionnaire is not None %}
      <questionnaire-create
        :questionnaire-id="{{ questionnaire.id}}"
        :questionnaire-numbering="{{ questionnaire.numbering }}"
      >
      </questionnaire-create>
    {% endif %}
</div>

{% endblock page_content %}

{% block js_bundle %}
    <script src="{% static 'dist/questionnaire-create-bundle.js' %}"></script>
{% endblock js_bundle %}
