{% extends "base.html" %}
{% load static %}

{% block extra_static_header %}
  {{ block.super }}

  {% if settings.DEBUG %}
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/5.5.1/basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/5.5.1/dropzone.css' %}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/5.5.1/basic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone/5.5.1/dropzone.min.css' %}">
  {% endif %}
{% endblock extra_static_header %}

{% block page_main_container %}
  <div id="questionnaire-detail-app">
    <questionnaire-detail-page :questionnaire="{{ questionnaire_json }}"></questionnaire-detail-page>
  </div>
{% endblock page_main_container %}

{% block js_bundle %}
  <link href="{% static "dist/questionnaire-detail-bundle.css" %}" rel="stylesheet" />
  <script src="{% static 'dist/questionnaire-detail-bundle.js' %}"></script>
{% endblock js_bundle %}
