{% extends "base.html" %}
{% load static %}

{% block extra_static_header %}
{{ block.super }}
{% endblock extra_static_header %}

{% block page_main_container %}

<div id="questionnaire-create-vm">
    {% if control is not None %}
      <questionnaire-create
        :control-id="{{ control.id }}"
        :control-has-multiple-inspectors="{% if control.has_multiple_inspectors %}true{% else %}false{% endif %}"
        :questionnaire-numbering="{{ control.next_questionnaire_numbering }}"
      >
      </questionnaire-create>
    {% elif questionnaire is not None %}
      <questionnaire-create
        :questionnaire-id="{{ questionnaire.id }}"
        :control-id="{{ questionnaire.control.id }}"
        :control-has-multiple-inspectors="{% if questionnaire.control.has_multiple_inspectors %}true{% else %}false{% endif %}"
        :questionnaire-numbering="{{ questionnaire.numbering }}"
      >
      </questionnaire-create>
    {% endif %}
</div>

{% endblock page_main_container %}

{% block js_bundle %}
  <link href="{% static "dist/questionnaire-create-bundle.css" %}" rel="stylesheet" />
  <script src="{% static 'dist/questionnaire-create-bundle.js' %}"></script>
{% endblock js_bundle %}
