{% extends "base.html" %}
{% load static %}

{% block extra_static_header %}
{{ block.super }}
{% endblock extra_static_header %}

{% block page_content %}
  <h1>Corbeille</h1>


  <div>
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
      <thead>
        <tr>
          <th>Nom du document</th>
          <th>Date de dépôt</th>
          <th class="text-center">Utilisateur qui a déposé</th>
          <th>Date de mise à la corbeille</th>
          <th class="text-center">Utilisateur qui a mis à la corbeille</th>
        </tr>
      </thead>
      <tbody>
        {% for file in object_list %}
          <tr>
            <td>
              <div class="truncate"><a target="_blank" href="{{ file.url }}">{{ file.basename }}</a></div>
            </td>
            <td>
              <div>{{  file.created }}</div>
            </td>
            <td class="text-center">
              <div>{{ file.author.first_name }} {{ file.author.last_name }}</div>
            </td>
            <td class="text-center">
              <div></div>
            </td>
            <td class="text-center">
              <div></div>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td></td>
            <td>Rien dans la corbeille.</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock page_content %}

{% block js_bundle %}
{% endblock js_bundle %}
