{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page">
  <div class="main-page white">
    <div class="container">
      <div class="row">
        <div class="col-md d-none d-md-block">
          <img src="{% static 'img/photo_cour_des_comptes.jpg' %}" alt="Photo de la Cour des comptes" />
        </div>
        <div class="col-md d-flex flex-column justify-content-between align-items-center">
          <div class="mt-8 mt-md-2 mt-lg-8 mb-8 mb-md-5 mb-lg-7 mb-xl-8 d-flex flex-column justify-content-center align-items-center">
            <div class="mb-5">
              <img src="{% static 'img/logo_white_back.png' %}" alt="logo e.contrôle" />
            </div>
            <h3 class="mb-lg-5 text-center">
              La plateforme d'échange de documents durant les contrôles
            </h3>
            <a href="#a-quoi-sert-e-controle" class="btn btn-secondary btn-pill">
              En savoir plus sur e.contrôle
            </a>
          </div>
          <div class="mt-8 mt-md-5 mt-lg-7 mt-xl-8 d-flex flex-column justify-content-center align-items-center">
            <form action="{% url 'magicauth-login' %}" method="post">
              {% csrf_token %}
              {% if user.is_authenticated %}
                <div class="alert alert-info text-center" role="alert">
                  Vous êtes déjà connecté
                </div>
                <div class="text-center">
                  <a href="{% url 'questionnaire-list' %}" class="btn btn-success">Accédez à l'accueil</a>
                  <a href="{% url 'logout' %}" class="btn btn-warning">Déconnectez-vous</a>
                </div>
              {% else %}
                {% if messages %}
                  <div class="text-center" role="alert">
                    {% for message in messages %}
                      <p {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="form-group">
                  <label class="form-label text-center"><h4>Connectez-vous à e.contrôle</h4></label>
                  <input type="email"
                         name="email"
                         size="40"
                         class="form-control {% if form.errors %}state-invalid {% endif %}"
                         id="id_email"
                         aria-describedby="emailHelp"
                         placeholder="Votre email professionnel"
                         required />
                    {% for error in form.email.errors %}
                      <div class="alet alert-danger text-center">
                        {{ error }}
                      </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
              {% endif %}
            </form>
            <div class="text-center text-muted small mt-2 mt-lg-5">
              Vous rencontrez des difficultés pour vous connecter?
              <a href="mailto:e-controle@beta.gouv.fr">Demandez de l'aide</a>
            </div>
          </div>
          <img src="{% static 'img/logo-cc.jpg' %}" class="img" alt="logo-cc"/>
        </div>
      </div>
      <div class="mt-9">
        <div class="row">
          <div class="col-sm text-center">
            <h1 id="a-quoi-sert-e-controle">À quoi sert e-contrôle ?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="mt-7 mb-7 text-center">
              <div>
                <img src="{% static 'img/controleur_square.png' %}" class="round max-width-250" alt="Contrôleur au travail" />
              </div>
              <h2 class="mt-4">
                Équipe de contrôle
              </h2>
            </div>
            <ol class="text-large-paragraph">
              <li>
                <strong>Créez des espaces de dépôt</strong> étanches, pour chaque organisme interrogé
              </li>
              <li>
                <strong>Créez vos questionnaires</strong> pour chaque espace de dépôt
              </li>
              <li>
                <strong>Ouvrez les accès</strong> aux membres de votre équipe et aux agents désignés des organismes interrogés
              </li>
              <li>
                <strong>Soyez alertés</strong> dès le lendemain matin 8h si des réponses sont déposées la veille
              </li>
              <li>
                <strong>Visualisez les réponses</strong> directement sur la plateforme sous chaque question
              </li>
              <li>
                <strong>Explorez les réponses</strong> automatiquement classées dans votre explorateur de fichiers
              </li>
            </ol>
          </div>
          <div class="col-sm">
            <div class="mt-7 mb-7 text-center">
              <div>
                <img src="{% static 'img/controlee_square.png' %}" class="round max-width-250" alt="Membre de l'organisme interrogé au travail" />
              </div>
              <h2 class="mt-4">
                Organisme interrogé
              </h2>
            </div>
            <ol class="text-large-paragraph">
              <li>
                <strong>Connectez-vous</strong> grâce à votre email professionnel, de façon sécurisée et sans mots de passe à retenir
              </li>
              <li>
                <strong>Découvrez le ou les questionnaires</strong> qui vous sont adressés
              </li>
              <li>
                <strong>Déposez vos réponses</strong> sous chaque question
              </li>
              <li>
                <strong>Visualisez vos réponses</strong> sur la plateforme
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
{% endblock content %}

