<div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUser" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="alert alert-warning">
          <h4>Confirmer la désactivation</h4>
          <p>
            La personne ne pourra plus se connecter.
          </p>
          <div class="btn-list">
            <button class="btn btn-danger" type="button" data-dismiss="modal">OK</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
