<div class="card border-0 card-collapsed">

  <div class="card-header border-0 pl-0" data-toggle="card-collapse">
    <div class="card-title m-0">
      <button type="button" class="btn btn-warning"><i class="fa fa-folder-open mr-2"></i>Bonus : visualisez les fichiers déposés en arborescence</button>
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    <button type="button" class="close" data-toggle="card-collapse"></button>
    <p>
      Toutes les réponses déposées sont automatiquement classées et renommées dans une dossier
      accessible à tous les membres de l’équipe de contrôle.
    </p>
    <div class="btn-list">
      <a target="_blank" href="https://github.com/betagouv/e-controle/files/3330277/Ajouter.aux.favoris.pdf"
         class="btn btn-success"
         role="button">
        Dites-m'en plus
      </a>
      <button class="btn btn-secondary" type="button" data-toggle="card-collapse">Non merci</button>
    </div>
    <p></p>
    <div class="flex-row-container">
      <a href="file://{{ settings.WEBDAV_URL }}/{{ control.reference_code }}">file://{{ settings.WEBDAV_URL }}/{{ control.reference_code }}</a>
      <a href="file:////{{ settings.WEBDAV_URL }}/{{ control.reference_code }}">file://{{ settings.WEBDAV_URL }}/{{ control.reference_code }}</a>
      <div class="small">Vous aurez besoin de ce lien : {{ settings.WEBDAV_URL }}/{{ control.reference_code }}</div>
      <copy-button tocopy="{{ settings.WEBDAV_URL }}/{{ control.reference_code }}"
                   buttontext="Copier le lien"
                   confirmtext="La copie a été effectuée"
      >
      </copy-button>
    </div>
  </div>

  <div data-toggle="card-collapse" class="text-center bg-waring cursor-pointer text-white" style="cursor: pointer;">
    <i class="fe fe-chevron-up"></i>
  </div>

</div>
