<div class="card border-0 mb-0 card-collapsed">

  <div class="card-header border-0 pl-0" data-toggle="card-collapse">
    <div class="card-title m-0">
      <button type="button" class="btn btn-secondary">
        <i class="fe fe-folder mr-2"></i>
        Comment voir les réponses dans l’Explorateur Windows ?
      </button>
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    <p>
      Toutes les réponses déposées sont automatiquement classées et renommées dans un dossier accessible
      à tous les membres de l’équipe de contrôle.
      Pour les consulter, veuillez copier puis coller ce lien dans votre barre de navigation
      et épinglez-le dans vos accès rapide.
    </p>

    <div class="flex-row-container mb-4">
      <span>{{ settings.WEBDAV_URL }}/{{ control.reference_code }}</span>
      <button class="btn btn-sm btn-secondary ml-4"
              v-clipboard="'{{ settings.WEBDAV_URL }}/{{ control.reference_code }}'"
              v-clipboard:success="clipboardSuccessHandler"
              style="position: relative;">
        <i class="fe fe-copy"></i>
        Copier le lien
      </button>
      <transition name="fade" v-on:enter="enterFade">
        <span class="tag tag-success ml-4" v-if="showCopySuccess">C'est copié !</i></span>
      </transition>
    </div>

    <a target="_blank" href="https://github.com/betagouv/e-controle/raw/develop/docs/guides/e-controle-explorateur-de-fichiers.pdf">
    Besoin d’aide ? Suivez les instructions en image.
    </a>
  </div>

</div>
