{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="page">
  <div class="page-main">
    <div class="header py-4">
      <div class="container">
        <div class="d-flex">
          <a class="header-brand" href="{% url 'login' %}">
            <img src="{% static "img/logo.jpg" %}" class="header-brand-img" alt="logo">
          </a>
          <div class="d-flex order-lg-2 ml-auto">
            <div class="dropdown">
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">Frédéric MARTIN</span>
                  {% if user_profile == "edit" %}
                  <small class="text-muted d-block mt-1">Ville de Chassieu</small>
                  {% endif %}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 ml-auto">
            <form class="input-icon my-3 my-lg-0">
              <input type="Search" class="form-control header-search" placeholder="Rechercher&hellip;" tabindex="1">
              <div class="input-icon-addon">
                <i class="fe fe-search"></i>
              </div>
            </form>
          </div>
          <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="{% url 'questionnaire-list' %}" class="nav-link"><i class="fe fe-home"></i> Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a href="{% url 'questionnaire-list' %}" class="nav-link"><i class="fe fe-check-square"></i> Questionnaires</a>
              </li>
              <li class="nav-item dropdown">
                <a href="{% url 'dashboard' %}" class="nav-link"><i class="fe fe-bar-chart"></i>Tableau de suivi</a>
              </li>
              <li class="nav-item dropdown">
                <a href="{% url 'contacts' %}" class="nav-link"><i class="fe fe-at-sign"></i>Coordonnées</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fe fe-help-circle"></i> Aide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
             Coordonnées
          </h1>
              <div class="card">
                  </div>
                  <div class="card-body o-auto" style="height: 100%">
                    <ul class="list-unstyled list-separated">
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-user bg-Green"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Frédéric Martin</a>
                            </div>
                            <small class="d-block item-except text-sm text h-1x">Ville de Chassieu</small>
                            <small class="d-block item-except text-sm text h-1x">Directeur des finances</small>
                            <small class="d-block item-except text-sm text h-1x">04 35 65 76 87</small>
                            <small class="d-block item-except text-sm text h-1x"> <a href="mailto:fredericmartin@ville-chassieu.fr">fredericmartin@ville-chassieu.fr</small>
                          </div>
                        </div>
                      <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-user bg-yeloow"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Laura Moutin</a>
                            </div>
                           <small class="d-block item-except text-sm text h-1x">Cour des comptes</small>
                           <small class="d-block item-except text-sm text h-1x">Vérificatrice</small>
                           <small class="d-block item-except text-sm text h-1x">01 35 35 33 89</small>
                           <small class="d-block item-except text-sm text h-1x">lauramoutin@ccomptes.fr</small>
                          </div>
                        <li class="list-separated-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-user bg-yellow"></span>
                          </div>
                          <div class="col">
                            <div>
                              <a href="javascript:void(0)" class="text-inherit">Lucie Kunen</a>
                            </div>
                            <small class="d-block item-except text-sm text h-1x">Cour des comptes</small>
                            <small class="d-block item-except text-sm text h-1x">Rapporteure</small>
                            <small class="d-block item-except text-sm text h-1x">01 98 65 90 87</small>
                            <small class="d-block item-except text-sm text h-1x">lkunen@ccomptes.fr</small>
                          </div>
                          <div class="col-auto">
                      </li>
<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-right">
        <img src="{% static "img/logo-cc.jpg" %}" class="img col-3" alt="logo-cc">
        E-contrôle. Version Bêta.  <a href="#">Cour des comptes / Chambres régionale et territoriale des comptes.</a>
      </div>
    </div>
  </div>
</footer>
</div>
{% endblock content %}
