{% extends "base.html" %}
{% block content %}
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
          </div>
          <form class="card" action="{% url 'questionnaire-list' %}" method="get">
            <div class="card-body p-6">
              <div class="card-title">Accéder à mon espace de contrôle</div>
              <div class="form-group">
                <label class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Votre email professionnel">
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">Valider</button>
              </div>
            </div>
          </form>
          <div class="text-center text-muted">
            Vous rencontrez des difficultés pour vous identifier ? <a href="mailto:assistance@econtrole.beta.fr">Demandez de l'aide à assistance@econtrole.beta.fr</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
