{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <form class="card" action="{% url 'magicauth-login' %}" method="post">
            {% csrf_token %}

            <div class="text-center mb-6">
              <img src="{% static "img/logo.jpg" %}" class="header-brand-img" alt="logo">
            </div>
            <div class="card-body p-4">
              <div class="card-center text-center card-title">Consulter et déposer les réponses aux questionnaires</div>

              <div class="form-group">
                <label class="text-uppercase form-label">Se connecter</label>
                <input type="email" name="email" class="form-control {% if form.errors %}state-invalid {% endif %}" id="id_email" aria-describedby="emailHelp" placeholder="Votre email professionnel" required>
                {% for error in form.email.errors %}
                <div class="alet alert-danger text-center">{{ error }}</div>
                {% endfor %}
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">Valider</button>
              </div>
            </div>
          </form>
          <div class="text-center text-muted">
            Vous rencontrez des difficultés pour vous connecter?
            <a href="mailto:econtrole@bate.ccomptes.fr">Demandez de l'aide</a>
          </div>
          <div class="text-center">
            <img src="{% static "img/logo-cc.jpg" %}" alt="logo-cc">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
