{% extends "base.html" %}
{% block content %}
{% load static %}
  <div class="page">
  <div class="page-main">
    <div class="header py-4">
      <div class="container">
        <div class="d-flex">
          <a class="header-brand" href="{% url 'login' %}">
            <img src="{% static "img/logo.png" %}" class="header-brand-img" alt="logo">
          </a>
          <div class="d-flex order-lg-2 ml-auto">
            <div class="dropdown">
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar"></span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">Frédéric MARTIN</span>
                  <small class="text-muted d-block mt-1">Ville de Chassieu</small>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 ml-auto">
            <form class="input-icon my-3 my-lg-0">
              <input type="Search" class="form-control header-search" placeholder="Rechercher&hellip;" tabindex="1">
              <div class="input-icon-addon">
                <i class="fe fe-search"></i>
              </div>
            </form>
          </div>
          <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="{% url 'questionnaire-list' %}" class="nav-link"><i class="fe fe-home"></i> Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a href="{% url 'questionnaire-list' %}" class="nav-link active"><i class="fe fe-check-square"></i> Questionnaires</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link"><i class="fe fe-tag"></i> Historiques</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link"><i class="fe fe-at-sign"></i> Coordonnées</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fe fe-help-circle"></i> Aide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
            {{ questionnaire.title }}
          </h1>
        </div>
        <div class="row row-cards">
          <div class="col-lg-4">
            <div class="row sticky">
              <div class="col-md-6 col-lg-12">
                <div class="card">
                  <div class="card-header bg-blue text-white">
                    <h4 class="card-title">Thémes</h4>
                  </div>
                  {% for theme in themes %}
                  <table class="table card-table">
                    <tbody>
                    <tr data-id="{{ forloop.counter }}" class="theme-row">
                      <td><a href="#theme{{ forloop.counter }}">{{ forloop.counter }}. {{ theme.title }}</a></td>
                      <td class="text-right"><span class="text-muted">43%</span></td>
                    </tr>
                   {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            {% for theme in themes %}
            <div class="card" id="theme{{ forloop.counter }}">
              <div class="card-status card-status-top bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">{{ forloop.counter }}. {{ theme.title }}</h3>
              </div>
              <div class="table-responsive">
                  <table class="table card-table table-striped table-vcenter">
                      <tbody>
                      {% for question in theme.questions.all %}
                      <tr>
                        <td class="rows p-0">
                          <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0 bg-transparent pb-2 pt-2">
                            <div class="card-header border-0">
                              <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">{{ forloop.parentloop.counter }}.{{ forloop.counter }}</span>
                              <div class="card-text" data-toggle="card-collapse" style="cursor: pointer">{{ question.description }}<br>
                                <!-- TODO : Tags dynamique -->
                                <div class="tags">
                                  <span class="tag tag-azure">2 fichiers déposés
                                    <span class="tag-addon"><i class="fe fe-file"></i></span>
                                  </span>
                                  <span class="tag tag-indigo">Réponse par texte
                                     <span class="tag-addon"><i class="fe fe-align-left"></i></span>
                                  </span>
                                  <span class="tag tag-green"> Réponse complète
                                      <span class="tag-addon"><i class="fe fe-check"></i></span>
                                  </span>
                                </div>
                              </div>
                              <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  {% if user_profile == "edit" %}
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                  {% else %}
                                  <p>
                                    La convention de partenariat a été datée et signée le 12 mars 2010 (déposer ci-joint avec une note explicative). Depuis le 1er octobre 2017, nous avons initié un groupe de travail avec l'ordonnateur afin de réviser cette convention. Nous vous adressons également les comptes rendus de ces réunions.
                                  </p>
                                  {% endif %}

                                </div>

                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>

                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>

                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>

                          </div>

                        </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              E-contrôle. Version Bêta. <a href="#">Cour des comptes / Chambres régionales et territoriales des comptes.</a>
            </div>
          </div>
        </div>
      </footer>
  </div>
</div>
{% endblock content %}
