{% extends "base.html" %}
{% block content %}
    <div class="page">
  <div class="page-main">
    <div class="header py-4">
      <div class="container">
        <div class="d-flex">
          <a class="header-brand" href="./index.html">
            <img src="https://tabler.io/tabler/demo/brand/tabler.svg" class="header-brand-img" alt="tabler logo">
          </a>
          <div class="d-flex order-lg-2 ml-auto">
            <div class="dropdown">
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar"></span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">Frédéric MARTIN</span>
                  <small class="text-muted d-block mt-1">Ville de Chassieu</small>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 ml-auto">
            <form class="input-icon my-3 my-lg-0">
              <input type="Search" class="form-control header-search" placeholder="Rechercher&hellip;" tabindex="1">
              <div class="input-icon-addon">
                <i class="fe fe-search"></i>
              </div>
            </form>
          </div>
          <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="./questionnaire-list.html" class="nav-link"><i class="fe fe-home"></i> Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a href="./questionnaire-detail.html" class="nav-link active"><i class="fe fe-check-square"></i> Questionnaire 1</a>
              </li>
              <li class="nav-item dropdown">
                <a href="./questionnaire-list.html" class="nav-link"><i class="fe fe-check-square"></i> Mes questionnaires</a>
              </li>
              <li class="nav-item dropdown">
                <a href="./questionnaire-list.html" class="nav-link"><i class="fe fe-check-square"></i> Anciens questionnaires</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fe fe-file-text"></i> FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
            Questionnaire 1
          </h1>
        </div>
        <div class="row row-cards">
          <div class="col-lg-4">
            <div class="row sticky">
              <div class="col-md-6 col-lg-12">
                <div class="card">
                  <div class="card-header bg-blue text-white">
                    <h4 class="card-title">Thèmes</h4>
                  </div>

                  <table class="table card-table">
                    <tbody>
                    <tr data-id="1" class="theme-row">
                      <td><a href="#theme1">1 : L'organisation du syndicat</a></td>
                      <td class="text-right"><span class="text-muted">43%</span></td>
                    </tr>
                    <tr data-id="2" class="theme-row">
                      <td><a href="#theme2">2 : La gestion de la restauration scolaire par le syndicat</a></td>
                      <td class="text-right"><span class="text-muted">43%</span></td>
                    </tr>
                    <tr data-id="3" class="theme-row">
                      <td><a href="#theme3">3 : Thème 3</a></td>
                      <td class="text-right"><span class="text-muted">43%</span></td>
                    </tr>
                    <tr data-id="4" class="theme-row">
                      <td><a href="#theme4">4 : Thème 4</a></td>
                      <td class="text-right"><span class="text-muted">43%</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card"id="theme1">
              <div class="card-status card-status-top bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">Thème 1 : L'organisation du syndicat</h3>
                <!--<div>-->
                  <!--<div class="clearfix">-->
                    <!--<div class="float-left">-->
                      <!--<strong>43%</strong>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="progress progress-xs">-->
                    <!--<div class="progress-bar bg-yellow" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
              <div class="table-responsive">
                  <table class="table card-table table-striped table-vcenter">
                      <thead>
                      <tr>
                        <th class="text-blue">Question</th>
                        <th class="text-blue" style="text-align:right">Répondu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="rows p-0" colspan="2">
                          <div class="card no-glitter border-0 col-12 m-0 p-0">
                            <div class="card-header border-0">
                              <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">1-1</span>
                              <div class="card-text" data-toggle="card-collapse" style="cursor: pointer">Transmettre l’arrêté de création du syndicat, les statuts à jour et les principales modifications qui y ont été apportées depuis sa création.<br>
                                <div class="tags">
                                <span class="tag tag-azure">2 Fichiers réponses<span class="tag-addon"><i class="fe fe-file"></i></span></span></span> <span class="tag tag-indigo">Répondu par texte</span></div>
                              </div>
                              <div class="card-options">
                                <label class="custom-switch m-0">
                                    <input type="checkbox" value="1" class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span>
                                  </label>
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                </div>
                                   
                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>
         
                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>
                              
                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>
                            
                          </div>
                                
                        </td>
                      </tr>
                      <tr>
                        <td class="rows p-0"  colspan="2">
                            <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                              <div class="card-header border-0">
                                <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">1-2</span>
                                <div class="card-text" data-toggle="card-collapse"  style="cursor: pointer">Transmettre, le cas échéant, les documents d’orientations stratégiques de votre syndicat.<br>
                                  <div class="tags"> <span class="tag tag-indigo">Répondu par texte</span> <span class="tag tag-green"> Réponse compléte
                                    <span class="tag-addon"><i class="fe fe-check"></i></span></span></div>
                                </div>
                                <div class="card-options">
                                  <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                </div>
                              </div>
                              <div class="card-body">
                                  <div class="form-group">
                                    <label class="form-label">Réponse</label>
                                    <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                  </div>
                                     
                                  <div class="form-group">
                                  <div class="form-label">Fichiers</div>
                                  <ul>
                                    <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                  </ul>
                                </div>
                                  <div class="form-group">
                                  <div class="form-label">Ajouter un fichier</div>
                                  <div class="row">
                                  <div class="col-10">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" name="example-file-input-custom">
                                      <label class="custom-file-label">Choisir un fichier</label>
                                    </div>
                                  </div>
                                    <button type="submit" class="btn">Ajouter</button>
                                    </div>
                                </div>
           
                                <div class="form-group">
                                  <label class="custom-switch">
                                    <input type="radio" name="option" value="true" class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">Réponse complète</span>
                                  </label>
                                </div>
                                
                                  <div class="form-group">
                                   <div class="d-flex">
                                    <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                    <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                  </div>
                              </div>
                              
                            </div>
                                  
                          </td>
                      </tr>
                      </tbody>
                    </table>
              </div>
            </div>
            <div class="card"  id="theme2">
              <div class="card-status card-status-top bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">Thème 2 : La gestion de la restauration scolaire par le syndicat</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                    <thead>
                    <tr>
                      <th class="text-blue">Question</th>
                      <th class="text-blue" style="text-align:right">Répondu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="rows p-0" colspan="2">
                        <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                          <div class="card-header border-0">
                            <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">2-1</span>
                            <div class="card-text" data-toggle="card-collapse" style="cursor: pointer">En matière de politique tarifaire pratiquée, nous détailler et nous transmettre tous documents relatifs aux différents déterminants du barème tarifaire retenu (critères sociaux, revalorisation en fonction de l’évolution des coûts, etc.) et le processus de révision des tarifs depuis 2013<br>
                              <div class="tags">
                              <span class="tag tag-azure">2 Fichiers réponses<span class="tag-addon"><i class="fe fe-file"></i></span></span></span> <span class="tag tag-indigo">Répondu par texte</span></div>
                            </div>
                            <div class="card-options">
                              <label class="custom-switch m-0">
                                  <input type="checkbox" value="1" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                </label>
                              <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            </div>
                          </div>
                          <div class="card-body">
                              <div class="form-group">
                                <label class="form-label">Réponse</label>
                                <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                              </div>
                                 
                              <div class="form-group">
                              <div class="form-label">Fichiers</div>
                              <ul>
                                <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                              </ul>
                            </div>
                              <div class="form-group">
                              <div class="form-label">Ajouter un fichier</div>
                              <div class="row">
                              <div class="col-10">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="example-file-input-custom">
                                  <label class="custom-file-label">Choisir un fichier</label>
                                </div>
                              </div>
                                <button type="submit" class="btn">Ajouter</button>
                                </div>
                            </div>
       
                            <div class="form-group">
                              <label class="custom-switch">
                                <input type="radio" name="option" value="true" class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                                <span class="custom-switch-description">Réponse complète</span>
                              </label>
                            </div>
                            
                              <div class="form-group">
                               <div class="d-flex">
                                <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                              </div>
                          </div>
                          
                        </div>
                              
                      </td>
                    </tr>
                    <tr>
                      <td class="rows p-0"  colspan="2">
                          <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                            <div class="card-header border-0">
                              <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">2-2</span>
                              <div class="card-text" data-toggle="card-collapse"  style="cursor: pointer">Transmettre le rapport annuel d’activité pour l’année 2017.	<br>
                                <div class="tags"> <span class="tag tag-indigo">Répondu par texte</span> <span class="tag tag-green"> Réponse compléte
                                  <span class="tag-addon"><i class="fe fe-check"></i></span></span></div>
                              </div>
                              <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                </div>
                                   
                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>
         
                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>
                              
                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>
                            
                          </div>
                                
                        </td>
                    </tr>
                    <tr>
                      <td class="rows p-0"  colspan="2">
                          <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                            <div class="card-header border-0">
                              <span class="stamp stamp-md bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">2-3</span>
                              <div class="card-text" data-toggle="card-collapse"  style="cursor: pointer">Décrire l’organisation et la composition actuelle du conseil d’administration et de son bureau ; indiquer les changements intervenus ces dernières années. Transmettre toutes les délibérations des organes de votre SIVU et leurs annexes sous format dématérialisé. Transmettre notamment les règlements intérieurs du conseil d’administration et du bureau, et les modifications intervenues depuis 2013.<br>
                                <div class="tags"> <span class="tag tag-indigo">Répondu par texte</span> <span class="tag tag-green"> Réponse compléte
                                  <span class="tag-addon"><i class="fe fe-check"></i></span></span></div>
                              </div>
                              <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                </div>
                                   
                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>
         
                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>
                              
                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>
                            
                          </div>
                                
                        </td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="card"  id="theme3">
              <div class="card-status card-status-top bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">Thème 3 : La gestion en sous-sous question</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                    <thead>
                    <tr>
                        <th class="text-blue">Question</th>
                        <th class="text-blue" style="text-align:right">Répondu</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td  colspan="2">
                          <h4 class="card-title">Sous-section 1</h4>
                        </td>
                      </tr>
                    <tr>
                      <td class="rows p-0" colspan="2">
                        <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                          <div class="card-header border-0">
                            <span class="stamp stamp-xl bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">3-1-1</span>
                            <div class="card-text" data-toggle="card-collapse" style="cursor: pointer">En matière de politique tarifaire pratiquée, nous détailler et nous transmettre tous documents relatifs aux différents déterminants du barème tarifaire retenu (critères sociaux, revalorisation en fonction de l’évolution des coûts, etc.) et le processus de révision des tarifs depuis 2013<br>
                              <div class="tags">
                              <span class="tag tag-azure">2 Fichiers réponses<span class="tag-addon"><i class="fe fe-file"></i></span></span></span> <span class="tag tag-indigo">Répondu par texte</span></div>
                            </div>
                            <div class="card-options">
                              <label class="custom-switch m-0">
                                  <input type="checkbox" value="1" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                </label>
                              <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            </div>
                          </div>
                          <div class="card-body">
                              <div class="form-group">
                                <label class="form-label">Réponse</label>
                                <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                              </div>
                                 
                              <div class="form-group">
                              <div class="form-label">Fichiers</div>
                              <ul>
                                <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                              </ul>
                            </div>
                              <div class="form-group">
                              <div class="form-label">Ajouter un fichier</div>
                              <div class="row">
                              <div class="col-10">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="example-file-input-custom">
                                  <label class="custom-file-label">Choisir un fichier</label>
                                </div>
                              </div>
                                <button type="submit" class="btn">Ajouter</button>
                                </div>
                            </div>
       
                            <div class="form-group">
                              <label class="custom-switch">
                                <input type="radio" name="option" value="true" class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                                <span class="custom-switch-description">Réponse complète</span>
                              </label>
                            </div>
                            
                              <div class="form-group">
                               <div class="d-flex">
                                <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                              </div>
                          </div>
                          
                        </div>
                              
                      </td>
                    </tr>
                    <tr>
                      <td class="rows p-0"  colspan="2">
                          <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                            <div class="card-header border-0">
                              <span class="stamp stamp-xl bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">3-1-2</span>
                              <div class="card-text" data-toggle="card-collapse"  style="cursor: pointer">Transmettre le rapport annuel d’activité pour l’année 2017.	<br>
                                <div class="tags"> <span class="tag tag-indigo">Répondu par texte</span> <span class="tag tag-green"> Réponse compléte
                                  <span class="tag-addon"><i class="fe fe-check"></i></span></span></div>
                              </div>
                              <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                </div>
                                   
                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>
         
                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>
                              
                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>
                            
                          </div>
                                
                        </td>
                    </tr>
                    <tr>
                      <td  colspan="2">
                        <h4 class="card-title">Sous-section 2</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="rows p-0"  colspan="2">
                          <div class="card card-collapsed no-glitter border-0 col-12 m-0 p-0">
                            <div class="card-header border-0">
                              <span class="stamp stamp-xl bg-blue mr-3" data-toggle="card-collapse"  style="cursor: pointer">3-1-A</span>
                              <div class="card-text" data-toggle="card-collapse"  style="cursor: pointer">Décrire l’organisation et la composition actuelle du conseil d’administration et de son bureau ; indiquer les changements intervenus ces dernières années. Transmettre toutes les délibérations des organes de votre SIVU et leurs annexes sous format dématérialisé. Transmettre notamment les règlements intérieurs du conseil d’administration et du bureau, et les modifications intervenues depuis 2013.<br>
                                <div class="tags"> <span class="tag tag-indigo">Répondu par texte</span> <span class="tag tag-green"> Réponse compléte
                                  <span class="tag-addon"><i class="fe fe-check"></i></span></span></div>
                              </div>
                              <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label class="form-label">Réponse</label>
                                  <textarea class="form-control" name="example-textarea-input" rows="4" placeholder="Votre réponse..."></textarea>
                                </div>
                                   
                                <div class="form-group">
                                <div class="form-label">Fichiers</div>
                                <ul>
                                  <li><a href="#">Graphique.xls</a> <a href="#" class="icon"><i class="fe fe-trash"></i></a></li>
                                </ul>
                              </div>
                                <div class="form-group">
                                <div class="form-label">Ajouter un fichier</div>
                                <div class="row">
                                <div class="col-10">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                    <label class="custom-file-label">Choisir un fichier</label>
                                  </div>
                                </div>
                                  <button type="submit" class="btn">Ajouter</button>
                                  </div>
                              </div>
         
                              <div class="form-group">
                                <label class="custom-switch">
                                  <input type="radio" name="option" value="true" class="custom-switch-input">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="custom-switch-description">Réponse complète</span>
                                </label>
                              </div>
                              
                                <div class="form-group">
                                 <div class="d-flex">
                                  <a href="javascript:void(0)" class="btn btn-link" data-toggle="card-collapse">Annuler</a>
                                  <button type="submit" class="btn btn-primary ml-auto" data-toggle="card-collapse">Sauvegarder</button>
                                </div>
                            </div>
                            
                          </div>
                                
                        </td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="card"  id="theme4">
              <div class="card-status card-status-top bg-blue"></div>
              <div class="card-header">
                <h3 class="card-title">Thème 4 : Un autre questionnaire</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                  <thead>
                  <tr>
                    <th class="text-blue" colspan="2">Question</th>
                    <th class="text-blue">Etat</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="w-1"><span class="stamp stamp-md bg-blue mr-3">4-1</span></td>
                    <td>En matière de politique tarifaire pratiquée, nous détailler et nous transmettre tous documents relatifs aux différents déterminants du barème tarifaire retenu (critères sociaux, revalorisation en fonction de l’évolution des coûts, etc.) et le processus de révision des tarifs depuis 2013</td>
                    <td>A remplir</td>
                    <td class="w-1"><a href="{% url 'question-detail' %}"><button type="submit" class="btn btn-primary">Répondre</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1"><span class="stamp stamp-md bg-blue mr-3">4-2</span></td>
                    <td>Transmettre le rapport annuel d’activité pour l’année 2017.</td>
                    <td>A remplir</td>
                    <td class="w-1"><a href="{% url 'question-detail' %}"><button type="submit" class="btn btn-primary">Répondre</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1"><span class="stamp stamp-md bg-blue mr-3">4-3</span></td>
                    <td>Décrire l’organisation et la composition actuelle du conseil d’administration et de son bureau ; indiquer les changements intervenus ces dernières années. Transmettre toutes les délibérations des organes de votre SIVU et leurs annexes sous format dématérialisé. Transmettre notamment les règlements intérieurs du conseil d’administration et du bureau, et les modifications intervenues depuis 2013. </td>
                    <td>A remplir</td>
                    <td class="w-1"><a href="{% url 'question-detail' %}"><button type="submit" class="btn btn-primary">Répondre</button></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-auto ml-lg-auto">
            <div class="row align-items-center">
              <div class="col-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              <a href="https://www.ccomptes.fr/fr">Cour des comptes</a>. Tous droits réservés
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}