{% extends "django_tabler/base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css">
{% endblock extra_css %}

{% block content %}{% endblock content %}

{% block extra_js %}{% endblock extra_js %}
