{% extends "base_email.html" %}
{% block email_content %}
<p>Bonjour,</p>
<p>Vous venez d’ajouter une nouvelle personne:</p>
<ul>
  <li>
    {{ added_user.first_name }} {{ added_user.last_name }}, {{ added_user.email }}{% if added_user.profile.organization %}, {{ added_user.profile.organization}}{% endif %}
  </li>
  <li>
    Profil : {{ added_user.profile.get_profile_type_display }}
  </li>
  <li>
    Espace de dépôt : {{ control }}
  </li>
</ul>

<hr/>

<p class="text-bold">
  Pensez à l’inviter à se connecter à e.contrôle en lui adressant ce message:
</p>

<p class="text-quote">
Bonjour {{ added_user.first_name }} {{ added_user.last_name }},
<br/>
Dans le cadre de la procédure "{{ control }}", vous pouvez accéder à l’espace de dépôt de en vous connectant sur https://{{ site.domain }}.
<br/>
Cordialement,
</p>

<hr/>

<p>
  Si vous pensez ne pas être le bon destinataire de ce message, merci de nous informer en répondant directement à cet email.
</p>
<p>Merci beaucoup,</p>
<p>L'équipe d'e-contrôle</p>
{% endblock email_content %}
