{% extends "base_email.html" %}
{% block email_content %}
<p>Bonjour {{ user.first_name }},</p>
<p>Vous venez d’ajouter une nouvelle personne:</p>
<ul>
  <li>
    {{ target_user.first_name }} {{ target_user.last_name }}, {{ target_user.email }}{% if target_user.profile.organization %}, {{ target_user.profile.organization}}{% endif %}
  </li>
  <li>
    Profil : {{ target_user.profile.get_profile_type_display }}
  </li>
  <li>
    Espace de dépôt : {{ control }}
  </li>
</ul>

<hr/>

<p class="text-bold">
  {{ user.first_name }}, pensez à l’inviter à se connecter à e.contrôle en lui adressant ce message:
</p>

<p class="text-quote">
Bonjour {{ target_user.first_name }} {{ target_user.last_name }},
<br/>
Dans le cadre de la procédure "{{ control }}", vous pouvez accéder à l’espace de dépôt en vous connectant sur https://{{ site.domain }}.
<br/>
Cordialement,
</p>

<hr/>

<p>
  Si vous pensez ne pas être le bon destinataire de ce message, merci de nous informer en répondant directement à cet email.
</p>
<p>Merci beaucoup,</p>
<p>L'équipe e.contrôle</p>
{% endblock email_content %}
