{% extends "base_tabler.html" %}
{% load static %}

{% block site_title %}
    <title>Cour Des Comptes - e-controle</title>
{% endblock site_title %}

{% block extra_static_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    {% if debug %}
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/v5.8.1/css/all.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/v5.8.1/css/all.min.css' %}">
    {% endif %}

{% endblock extra_static_header %}

{% block content %}
<div class="page"> <!--// opening: page  //-->
  <div id="app"></div>
  <div class="page-main"> <!--// opening: main_page  //-->
    {% block page_top_row %}
    <div class="header py-4"> <!--// opening: top_header  //-->
      <div class="container d-flex"> <!--// opening: top_header_container  //-->
          <a class="header-brand" href="{% url 'questionnaire-list' %}">
            <img src="{% static 'img/e-controle.png' %}" class="header-brand-img" alt="logo" style="height: 4;"/>
          </a>

          <div class="d-flex order-lg-2 ml-auto"> <!--// opening: header_items  //-->

            <div class="nav-item">
                <a class="nav-link" href="{% url 'questionnaire-list' %}">
                  <i class="dropdown-icon fe fe-home"></i>Accueil
                </a>
            </div>

            <div class="nav-item">
              <a href="#" class="nav-link" data-toggle="dropdown">
                <i class="dropdown-icon fe fe-check-square"></i> Mes questionnaires
              </a>
              <div class="dropdown-menu dropdown-menu-arrow">
                {% for control in controls %}
                {% with questionnaires=control.published_questionnaires %}
                  {% if questionnaires %}
                    <span class='pl-2' style="cursor: text">{{ control.title }}</span>
                      {% for questionnaire in questionnaires %}
                      <a href="{{ questionnaire.url }}" class="dropdown-item ">{{ questionnaire.title_display }}</a>
                      {% endfor %}
                      {% if not forloop.last %}<div class="dropdown-divider"></div>{% endif %}
                  {% endif %}
                {% endwith %}
                {% endfor %}
              </div>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'faq'%}">
                  <i class="dropdown-icon fe fe-help-circle"></i> FAQ
                </a>
            </div>

            <div class="dropdown"> <!--// opening: main_profile_dropdown  //-->
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar avatar-pink">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">{{ user.get_full_name }}</span>
                  <small class="text-muted d-block mt-1">{{ user.profile.organization }}</small>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="dropdown-icon fe fe-log-out"></i> Se déconnecter
                </a>
              </div>
            </div> <!--// closing: main_profile_dropdown  //-->

          </div>   <!--// closing: header_items  //-->
      </div>   <!--// opening: top_header_container  //-->
    </div>  <!--// closing: top_header  //-->
    {% endblock page_top_row %}

    {% block page_top_nav %}
    {% endblock page_top_nav %}

    {% block page_main_container %}
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="page-header">
          <h1 class="page-title">
            {% block page_title %}
            {% endblock page_title %}
          </h1>
        </div>

        {% block page_content %}
        {% endblock page_content %}
      </div>
    </div>
  {% endblock page_main_container %}

  {% block page_footer %}
  <div class="footer">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-right">
          <img src="{% static 'img/logo-cc.jpg' %}" class="img col-3" alt="logo-cc"/>
          e-contrôle <a href='https://github.com/betagouv/e-controle/blob/develop/docs/releases/0.11.md'>v0.11</a> Beta. Cour des comptes.
        </div>
      </div>
    </div>
  </div>
  {% endblock page_footer %}

</div> <!--// closing: main_page  //-->
</div> <!--// closing: page  //-->

{% endblock content %}

{% block analytics %}
{% if settings.PIWIK_SITE_ID and settings.PIWIK_TRACKER_BASE_URL %}
<script type="text/javascript">
  var _paq = _paq || [];
  / tracker methods like "setCustomDimension" should be called before "trackPageView" /
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ settings.PIWIK_TRACKER_BASE_URL }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ settings.PIWIK_SITE_ID }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}
{% endblock analytics %}
