{% extends "base_tabler.html" %}
{% load static %}

{% block site_title %}
  <title>Cour Des Comptes - e.controle</title>
{% endblock site_title %}

{% block extra_static_header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock extra_static_header %}

{% block content %}
  <div id="page" class="page container-fluid flex-row"> <!--// opening: page  //-->
    <div id="app"></div>
    <div id="non-footer" class="flex-column flex-grow-1">
      {% block page_top_row %}
        <div class="header flex-row justify-content-between"> <!--// opening: top_header  //-->
          <div class="flex-column justify-content-center mx-5">
            <a class="header-brand" href="/accueil">
              <img src="{% static "img/e-controle.png" %}" class="header-brand-img" alt="logo" />
            </a>
          </div>

          {% block nav_items %}
            <div class="nav nav-tabs border-0 flex-row flex-grow-1 justify-content-end"> <!--// opening: nav_items  //-->
              <div class="nav-item">
                {% url 'faq' as faq_url %}
                <a class="nav-link nav-link-thick-line {% if request.path == faq_url %}active{% endif %}"
                  href="{% url 'faq'%}">
                  <i class="fe fe-help-circle"></i> FAQ
                </a>
              </div>
            </div>   <!--// closing: nav_items  //-->
          {% endblock nav_items %}

          <div class="dropdown p-3"> <!--// opening: main_profile_dropdown  //-->
            <a href="#" class="nav-link" data-toggle="dropdown">
              <span class="avatar avatar-pink">{{ user.first_name|first }}{{ user.last_name|first }}</span>
              <span class="ml-2 text-default">
                {{ user.get_full_name }}
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="dropdown-icon fe fe-log-out"></i> Se déconnecter
              </a>
            </div>
          </div> <!--// closing: main_profile_dropdown  //-->
        </div>  <!--// closing: top_header  //-->
      {% endblock page_top_row %}

      <div id="page-main" class="page-main flex-row"> <!--// opening: main_page  //-->

        <div id="sidebar-vm" class="border-right">
          <sidebar></sidebar>
        </div>

        <div class="mt-3 mt-md-5 flex-grow-1">
          {% block page_main_container %}
          {% endblock page_main_container %}
        </div>
      </div>  <!--// closing: main_page  //-->
    </div>
    {% include "footer.html" %}
  </div> <!--// closing: page  //-->

  <link href="{% static "dist/sidebar-bundle.css" %}" rel="stylesheet" />
  <script src="{% static 'dist/sidebar-bundle.js' %}"></script>

{% endblock content %}
{% block session_management %}
  <div id="session-management-vm">
    {% if user.is_authenticated %}
      <session-timeout :logout-url="{% url 'logout' %}" :expire-seconds="{{ settings.SESSION_EXPIRE_SECONDS }}"></session-timeout>
    {% endif %}
  </div>
  <script src="{% static 'dist/session-management-bundle.js' %}"></script>
{% endblock session_management %}

{% block analytics %}
  {% if settings.PIWIK_SITE_ID and settings.PIWIK_TRACKER_BASE_URL %}
    <script type="text/javascript">
      var _paq = _paq || [];
      / tracker methods like "setCustomDimension" should be called before "trackPageView" /
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ settings.PIWIK_TRACKER_BASE_URL }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ settings.PIWIK_SITE_ID }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  {% endif %}
{% endblock analytics %}
