{% extends "base_tabler.html" %}
{% load static %}

{% block site_title %}
  <title>Cour Des Comptes - e.controle</title>
{% endblock site_title %}

{% block extra_static_header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock extra_static_header %}

{% block content %}
  <div class="page container-fluid pr-0"> <!--// opening: page  //-->
    <div id="app"></div>
    <div class="page-main"> <!--// opening: main_page  //-->
      {% block page_top_row %}
        <div class="header py-1"> <!--// opening: top_header  //-->
          <div class="container flex-row justify-content-between"> <!--// opening: top_header_container  //-->

            {% block nav_items %}
              <div class="nav nav-tabs border-0 flex-row flex-grow-1 justify-content-end"> <!--// opening: nav_items  //-->
                <div class="nav-item">
                  {% url 'control-detail' as control_detail_url %}
                  <a class="nav-link nav-link-thick-line {% if request.path == control_detail_url %}active{% endif %}"
                     href="{% url 'control-detail' %}">
                    <i class="fe fe-home"></i>Accueil
                  </a>
                </div>

                <div class="nav-item">
                  {% url 'faq' as faq_url %}
                  <a class="nav-link nav-link-thick-line {% if request.path == faq_url %}active{% endif %}"
                     href="{% url 'faq'%}">
                    <i class="fe fe-help-circle"></i> FAQ
                  </a>
                </div>
              </div>   <!--// closing: nav_items  //-->
            {% endblock nav_items %}

            <div class="dropdown p-3"> <!--// opening: main_profile_dropdown  //-->
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <span class="avatar avatar-pink">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                <span class="ml-2 d-none d-lg-block">
                <span class="text-default">{{ user.get_full_name }}</span>
                <small class="text-muted d-block mt-1">{{ user.profile.organization }}</small>
              </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="dropdown-icon fe fe-log-out"></i> Se déconnecter
                </a>
              </div>
            </div> <!--// closing: main_profile_dropdown  //-->
          </div>   <!--// opening: top_header_container  //-->
        </div>  <!--// closing: top_header  //-->
      {% endblock page_top_row %}

      {% block page_top_nav %}
      {% endblock page_top_nav %}

      {% block page_main_container %}
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                {% block page_title %}
                {% endblock page_title %}
              </h1>
            </div>

            {% block page_content %}
            {% endblock page_content %}
          </div>
        </div>
      {% endblock page_main_container %}

      {% include "footer.html" %}

    </div> <!--// closing: main_page  //-->
  </div> <!--// closing: page  //-->

  {% block sidebar %}
    <div id="sidebar-vm">
      <sidebar></sidebar>
    </div>
    <link href="{% static "dist/sidebar-bundle.css" %}" rel="stylesheet" />
    <script src="{% static 'dist/sidebar-bundle.js' %}"></script>
  {% endblock sidebar %}

{% endblock content %}
{% block session_management %}
  <div id="session-management-vm">
    {% if user.is_authenticated %}
      <session-timeout :logout-url="{% url 'logout' %}" :expire-seconds="{{ settings.SESSION_EXPIRE_SECONDS }}"></session-timeout>
    {% endif %}
  </div>
  <script src="{% static 'dist/session-management-bundle.js' %}"></script>
{% endblock session_management %}

{% block analytics %}
  {% if settings.PIWIK_SITE_ID and settings.PIWIK_TRACKER_BASE_URL %}
    <script type="text/javascript">
      var _paq = _paq || [];
      / tracker methods like "setCustomDimension" should be called before "trackPageView" /
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ settings.PIWIK_TRACKER_BASE_URL }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ settings.PIWIK_SITE_ID }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  {% endif %}
{% endblock analytics %}
