{% load static %}

<div class="footer">
  <div class="container">
    <div class="flex-row justify-content-between align-items-center">
      <a href="{% url 'tos' %}">Conditions générales d'utilisation</a>
      <span>
        e-contrôle
        <a href='https://github.com/betagouv/e-controle/blob/develop/docs/releases/1.9.md'>v1.9 beta</a>
      </div>
    </div>
    <div class="text-center">
      <img src="{% static 'img/logo-cc.png' %}" class="img" alt="logo Cour des comptes" style="max-width: 500px;"/>
    </div>
  </div>
</div>
