{% load static %}

<div class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-right">
          <a href="{% url 'tos' %}">Conditions générales d'utilisation</a>
        <img src="{% static 'img/logo-cc.jpg' %}" class="img col-3" alt="logo-cc"/>
        e-contrôle <a href='https://github.com/betagouv/e-controle/blob/develop/docs/releases/1.7.md'>v1.7</a> Beta. Cour des comptes.
      </div>
    </div>
  </div>
</div>
